NodeRedCode.txt
[{"id":"f6f4ae0e.07fe8","type":"inject","z":"9982c7e6.958e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246.5078125,"y":119.2604341506958,"wires":[["994f70a7.fbe22"]]},{"id":"994f70a7.fbe22","type":"oM2M-Application","z":"9982c7e6.958e18","xSCL":"3d37a709.e2b008","xA":"68dcaf68.9180b","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":427.51475524902344,"y":117.00005149841309,"wires":[["1ac6dff6.136a7"]]},{"id":"1ac6dff6.136a7","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":633.514762878418,"y":119.99655437469482,"wires":[["9c295fda.c0a54"]]},{"id":"9c295fda.c0a54","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":857.5113220214844,"y":119.20835304260254,"wires":[]},{"id":"d0f0c75f.bfd1d8","type":"inject","z":"9982c7e6.958e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":256.5702896118164,"y":187.18057823181152,"wires":[["2657ce4.215a032"]]},{"id":"39cddbf9.b0ae04","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":641.5772247314453,"y":184.91669845581055,"wires":[["2f0c3797.456388"]]},{"id":"2f0c3797.456388","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":857.5737991333008,"y":187.12849712371826,"wires":[]},{"id":"3ae0b08a.8de33","type":"inject","z":"9982c7e6.958e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":257.57029724121094,"y":285.18058586120605,"wires":[["421affd2.997a7"]]},{"id":"3b43609f.82f74","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":759.5772476196289,"y":253.91673183441162,"wires":[["d2af4f52.31af5"]]},{"id":"d2af4f52.31af5","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":1008.5738143920898,"y":280.12853240966797,"wires":[]},{"id":"2657ce4.215a032","type":"oM2M-Descriptor-Container","z":"9982c7e6.958e18","xSCL":"3196e4e8.0287ec","xA":"68dcaf68.9180b","x":431.5078430175781,"y":187.07642555236816,"wires":[["39cddbf9.b0ae04"]]},{"id":"421affd2.997a7","type":"oM2M-Descriptor-ContentInstance","z":"9982c7e6.958e18","xSCL":"a799d18b.9e8db","xA":"68dcaf68.9180b","obixType":"Demo","obixLocation":"123","x":473.5043411254883,"y":286.2882709503174,"wires":[["3b43609f.82f74"]]},{"id":"b8fea005.eb858","type":"inject","z":"9982c7e6.958e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286.5702934265137,"y":360.1806106567383,"wires":[["4afb08d8.4203e8"]]},{"id":"a669c30.644444","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":660.5772514343262,"y":361.91675758361816,"wires":[["91869d8a.2c16f"]]},{"id":"91869d8a.2c16f","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":886.5738258361816,"y":364.1285562515259,"wires":[]},{"id":"4afb08d8.4203e8","type":"oM2M-Data-Container","z":"9982c7e6.958e18","xSCL":"7ef60348.2fd34c","xA":"68dcaf68.9180b","maxNrOfInstances":"10","obixAnnounce":true,"x":459.5147399902344,"y":361.6528606414795,"wires":[["a669c30.644444"]]},{"id":"41b99e40.bca6c","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":905.5774154663086,"y":560.1390514373779,"wires":[["d2eb7d6d.b5b42"]]},{"id":"d2eb7d6d.b5b42","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":1104.5739288330078,"y":552.3508834838867,"wires":[]},{"id":"b017783e.0ede18","type":"oM2M-Data-ContentInstance","z":"9982c7e6.958e18","xSCL":"80ddcc78.d4b3a","xA":"68dcaf68.9180b","obixCategory":"Area","x":652.5010604858398,"y":510.08361434936523,"wires":[["41b99e40.bca6c"]]},{"id":"d0a7abda.d87e28","type":"function","z":"9982c7e6.958e18","name":"input data","func":"var data = {\n    unit : msg.payload.unit,\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longitude,\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":425.5010013580322,"y":536.3925132751465,"wires":[["b017783e.0ede18","c580039a.0cf1d"]]},{"id":"eaae8a82.6c4538","type":"http in","z":"9982c7e6.958e18","name":"","url":"/Area","method":"post","swaggerDoc":"","x":192.50784492492676,"y":537.5234022140503,"wires":[["d0a7abda.d87e28","7d5fc294.206c9c"]]},{"id":"7d5fc294.206c9c","type":"http response","z":"9982c7e6.958e18","name":"","x":417.50784492492676,"y":615.5234022140503,"wires":[]},{"id":"da05237f.fc5eb","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":878.0695705413818,"y":731.8888549804688,"wires":[["8c4e18eb.7bd0c8"]]},{"id":"8c4e18eb.7bd0c8","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":1077.066083908081,"y":724.1006870269775,"wires":[]},{"id":"e32b5968.e67b78","type":"oM2M-Data-ContentInstance","z":"9982c7e6.958e18","xSCL":"80ddcc78.d4b3a","xA":"68dcaf68.9180b","obixCategory":"Car_Accident","x":639.9932022094727,"y":743.8333740234375,"wires":[["da05237f.fc5eb"]]},{"id":"53bc8013.15326","type":"function","z":"9982c7e6.958e18","name":"input data","func":"var data = {\n    unit : msg.payload.unit,\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":397.99315643310547,"y":708.1423168182373,"wires":[["e32b5968.e67b78"]]},{"id":"5b0ca7f3.affb68","type":"http in","z":"9982c7e6.958e18","name":"","url":"/Car_Accident","method":"post","swaggerDoc":"","x":185,"y":709.2732057571411,"wires":[["53bc8013.15326","de1ecbfc.5169e8"]]},{"id":"de1ecbfc.5169e8","type":"http response","z":"9982c7e6.958e18","name":"","x":390,"y":787.2732057571411,"wires":[]},{"id":"8e0437cb.2763b8","type":"file","z":"9982c7e6.958e18","name":"","filename":"C:\\Users\\LuoLab\\Desktop\\Area.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1009.8958511352539,"y":639.2222576141357,"wires":[]},{"id":"c580039a.0cf1d","type":"json","z":"9982c7e6.958e18","name":"","x":594.8334579467773,"y":643.9098777770996,"wires":[["63ecad33.b8fdb4"]]},{"id":"63ecad33.b8fdb4","type":"xml","z":"9982c7e6.958e18","name":"","attr":"","chr":"","x":801.8299179077148,"y":634.1180648803711,"wires":[["8e0437cb.2763b8"]]},{"id":"2836e3b6.430eec","type":"http in","z":"9982c7e6.958e18","name":"","url":"/Area","method":"get","swaggerDoc":"","x":187.89586639404297,"y":897.2224588394165,"wires":[["f5c45884.aa1408"]]},{"id":"323f94b8.e1d80c","type":"http response","z":"9982c7e6.958e18","name":"","x":927.2293739318848,"y":880.2227334976196,"wires":[]},{"id":"112e4540.96a06b","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":987.8958015441895,"y":941.4450845718384,"wires":[]},{"id":"f5c45884.aa1408","type":"file in","z":"9982c7e6.958e18","name":"","filename":"C:\\Users\\LuoLab\\Desktop\\Area.xml","format":"utf8","x":444.8299102783203,"y":885.1910400390625,"wires":[["bc400eae.f908c"]]},{"id":"bc400eae.f908c","type":"xml","z":"9982c7e6.958e18","name":"","attr":"","chr":"","x":727.8958129882812,"y":908.2222681045532,"wires":[["323f94b8.e1d80c","112e4540.96a06b"]]},{"id":"b8f760fd.334e6","type":"inject","z":"9982c7e6.958e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":286.89581298828125,"y":436.8888854980469,"wires":[["4ead55c0.0dbb8c"]]},{"id":"4ead55c0.0dbb8c","type":"oM2M-Application","z":"9982c7e6.958e18","xSCL":"537dacb1.7316c4","xA":"7ee8b3d2.105e0c","obixType":"Demo","obixCategory":"NetworkApplication","obixLocation":"NCKU","obixAnnounce":true,"x":467.9027557373047,"y":434.62850284576416,"wires":[["3b2bb5d0.e95c0a"]]},{"id":"3b2bb5d0.e95c0a","type":"http request","z":"9982c7e6.958e18","name":"","method":"POST","ret":"txt","url":"","tls":"","x":673.9027633666992,"y":437.6250057220459,"wires":[["1bd1e24.547281e"]]},{"id":"1bd1e24.547281e","type":"debug","z":"9982c7e6.958e18","name":"","active":true,"console":"false","complete":"false","x":897.8993225097656,"y":436.8368043899536,"wires":[]},{"id":"3d37a709.e2b008","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"68dcaf68.9180b","type":"xA","z":"","appId":"Car","contactUrl":"localhost:1880"},{"id":"3196e4e8.0287ec","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"a799d18b.9e8db","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"7ef60348.2fd34c","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"80ddcc78.d4b3a","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"537dacb1.7316c4","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"7ee8b3d2.105e0c","type":"xA","z":"","appId":"Car_NA","contactUrl":"localhost:1880"}]